<%- include("../views/partials/header.ejs") %>
<main>
  <div class="container my-5">
  <h3 class="text-center">Create Account:</h3>
  <div class="container my-4">
    <form action="/createAccount" method="POST">
      <div class="form-group">
        <label for="fName" class="form-label">First Name:</label><br />
        <input
          type="text"
          class="form-control"
          id="fName"
          name="fName"
          required
        /><br />
      </div>
      <div class="form-group">
        <label for="lName" class="form-label mt-4">Last Name:</label><br />
        <input
          type="text"
          class="form-control"
          id="lName"
          name="lName"
          required
        /><br />
      </div>
      <div class="form-group">
        <label for="email" class="form-label mt-4">Email Address:</label><br />
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          value=<%=currentUser.email%>
          required
        /><br />
      </div>
      <h5 class="mt-4">Select Role:</h5>
      <div class="form-group">
        <input type="radio" id="admin" name="role" value="Admin" />
        <label for="admin">Admin</label><br />
        <input type="radio" id="depHead" name="role" value="Department Head" />
        <label for="depHead">Department Head</label><br />
        <input type="radio" id="associate" name="role" value="Associate" required/>
        <label for="associate">Associate</label><br />
      </div>
      <button type="submit" class="d-flex justify-content-center btn btn-primary mt-4">
        Create Account
      </button>
    </form>
  </div>
  </div>
</main>
<%- include("../views/partials/footer.ejs") %>
