<%- include("../views/partials/header.ejs") %>
<main>
  <h1 class="text-center">My Tasks</h1>
  <div class="container text-center">
    <div class="row">
      <!-- assigned tasks -->
      <div class="col">
        <div class="card">
          <div class="card-header">Assigned Tasks</div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Assigner</th>
                  <th scope="col">Assignee</th>
                  <th scope="col">Task</th>
                  <th scope="col">Status</th>
                  <th scope="col">Due Date</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Updated</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  
                </tr>
                <tr>
                  <th scope="row">2</th>
                  
                </tr>
                <tr>
                  <th scope="row">3</th>
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- delegated tasks -->
      <div class="col">
        <div class="card">
          <div class="card-header">Delegated Tasks</div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Assigner</th>
                  <th scope="col">Assignee</th>
                  <th scope="col">Task</th>
                  <th scope="col">Status</th>
                  <th scope="col">Due Date</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Updated</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  
                </tr>
                <tr>
                  <th scope="row">2</th>
                  
                </tr>
                <tr>
                  <th scope="row">3</th>
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include("../views/partials/footer.ejs") %>
