html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: aliceblue;
    margin:0;
}

.hidden {
    display: none;
}

.pill {
  color: black !important;
  border-radius: 50rem;
  background-color: transparent; 
}

.pill.active {
  background-color: gold !important;
  color: black !important;
}

.pill:hover {
  background-color: #e6c200 !important;
  color: black !important;
}

.btn-primary, button {
  background-color: #FFD700;
  border-color: #FFD700;
  border-radius: 5px;
}

.btn-primary:hover {
    background-color: #FFC300;
    border-color: #FFC300;
}
.health-chart {
    min-height: 20rem;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.header-link {
    text-decoration: none;
    color: white;
}

.creds {
    min-width: 6rem;
}

#top-nav {
    background-color: blue;
}
#bottom-nav {
    background-color: #3333ff;
}

#overview {
    min-height: 20rem;
}

.top-card {
    max-width: 10rem;
}

nav h1 {
    color: white;
}

footer {
    background-color: blue;
}

footer div footer p {
    color: white;
}

main {
    flex: 1;
}
